cassandra:
  series: 37x

  conf:
    dc: x
    rack: y
    cluster_name: Test Cluster
    authenticator: PasswordAuthenticator
    listen_address: 1.2.3.4
    rpc_address: 1.2.3.4
    seeds:
      - 127.0.0.1
      - 1.2.3.5
    endpoint_snitch: SimpleSnitch

